---
layout: default
title: Writings
description: Prose and poems about love, life, family and travel
---

<div id="introduction">
	

</div>

<div id="poems">

	<h3>Poems</h3>	
	<ul> 
{% assign poems = site.writings | where: "category", "poem" %}
{% for poem in poems %}
		<li><a href="{{poem.url}}">{{poem.title}}</a></li>
{% endfor %}
	</ul>

	<h3>Prose</h3>	
	<ul> 
{% assign prose = site.writings | where: "category", "prose" %}
{% for piece in prose %}
		<li><a href="{{piece.url}}">{{piece.title}}</a></li>
{% endfor %}
	</ul>


</div>

<div id="essays">
	
	
</div>