    <title>{{ site.title  }}{% if page.title %} - {{page.title}} {% endif %}</title>
    <meta charset="utf-8">
    <meta name="author" value="">
    <meta name="description" value="{{ site.description   }}">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">    -->
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

    <meta http-equiv="X-UA-Compatible" content="IE-edge">

    <meta property="og:title" content="{{ site.title }}{% if page.title %} - {{ page.title | escape }} {% endif %}">
    <meta property="og:image" content="{% if page.preview_image %} {{page.preview_image}} {% else %} /assets/images/nguu_portrait_sm.jpg {% endif %}">  
    <meta property="og:description" content="{% if page.description %} - {{ page.description | escape }} {% else %} {{ site.description }} {% endif %}">
    <meta name="twitter:card" content="summary_large_image">


    <link rel="stylesheet" href="/assets/styles/normalize.css" />
    <link rel="stylesheet" href="/assets/styles/skeleton.css" />
    <link rel="stylesheet" href="/assets/styles/site.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 

    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/site.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>